h2{
    margin-left: 20px;
}
p{
    margin-left: 261px;
}
.l{
    margin-left: 20px;
    padding-right: 80px;
}
span{
    color:rgb(224, 6, 6);
}
.n{
    margin-left: 20px;
    padding-right: 168px;
}
.n1{
    margin-left: 20px;
    padding-right: 127px ;
}
.n2{
    margin-left: 20px;
    padding-right: 100px;
}
.n3{
    margin-left: 272px;
}
.n4{
    margin-left: 272px;
}    
.n5{
    margin-left: 272px;
}
.n6{
    margin-left: 20px;
    padding-right: 190px;
}
.n7{
    margin-left: 20px;
    padding-right: 187px;
}
.n8{
    margin-left: 20px;
    padding-right: 192px;
}
.n9{
    margin-left: 270px;
}
.n0{
    margin-left:350px;
}
.lin{
    color:turquoise;
}
body{
    width: 1120px;
    margin: 0 auto;
}